# Multiple Linear Regression 
In this method, we have more than two variables as input that why it's called multiple linear regression.

In [1]:
# importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
# importing dataset 
df = pd.read_csv("ml_data_salary.csv")
df.head()

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731
3  32.0     80.00              2.0   43525
4  32.2     80.50              2.2   39891

In [3]:
# splitting data into X and y 
X = df[["age", "distance", "YearsExperience"]]
y = df["Salary"]

In [4]:
# # splitting data into train and test variable for model training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 1/3, random_state=0)

In [5]:
# # creating model and then training it
df = LinearRegression().fit(X_train, y_train)
df # our model is ready. Yahooo:)

LinearRegression()

In [6]:
# # visulazing the data
# viz_train = plt
# viz_train.scatter(X_train, y_train, color='red')

In [7]:
X

     age  distance  YearsExperience
0   31.1     77.75              1.1
1   31.3     78.25              1.3
2   31.5     78.75              1.5
3   32.0     80.00              2.0
4   32.2     80.50              2.2
5   32.9     82.25              2.9
6   33.0     82.50              3.0
7   33.2     83.00              3.2
8   33.2     83.00              3.2
9   33.7     84.25              3.7
10  33.9     84.75              3.9
11  34.0     85.00              4.0
12  34.0     85.00              4.0
13  34.1     85.25              4.1
14  34.5     86.25              4.5
15  34.9     87.25              4.9
16  35.1     87.75              5.1
17  35.3     88.25              5.3
18  35.9     89.75              5.9
19  36.0     90.00              6.0
20  36.8     92.00              6.8
21  37.1     92.75              7.1
22  37.9     94.75              7.9
23  38.2     95.50              8.2
24  38.7     96.75              8.7
25  39.0     97.50              9.0
26  39.5     98.75              9.5
27  39.6     99.00              9.6
28  40.3    100.75             10.3
29  40.5    101.25             10.5

In [8]:
df.predict([[31.1, 77.5, 1.1]])

c:\Users\Hamza\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5.93930774e+14])